@media (max-width: 992px) {
  .ctaContent {
    flex-direction: column;
    text-align: center;
  }

  .ctaContent .callToAction {
    width: 80%;
    margin: auto;
  }
  .ctaContent .callToAction h2 .greenText {
    font-size: 8rem;
  }
  .ctaContent img {
    display: none;
  }
  .ctaProdutos {
    justify-content: space-between;
  }
  .ctaProdutos .iniciative h1 {
    font-size: 2.5rem;
    width: 150%;
  }
}

@media (max-width: 480px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
    padding: 0px 20px;
  }
  .nav-links-content {
    display: none;
  }
  .menuBurguer {
    display: block;
  }
  .dropdown {
    left: 50%;
  }
  .ctaContent {
    width: 100%;
    height: 50vh;
    align-items: center;
  }
  .ctaContent .callToAction {
    width: 100%;
  }

  .ctaContent .callToAction h2 .p1 {
    display: none;
  }
  .ctaContent .callToAction h2 .greenText,
  .fa-plus {
    font-size: 4.5rem;
  }

  .itens-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .benefits {
    margin: 0;
  }
  .itens-content {
    margin: 50px;
  }
  .care .title {
    margin: auto;
    width: 80%;
  }
  .title {
    margin: 40px 0px;
    font-size: 2rem;
  }
  .carousel-inner {
    height: 300px;
  }
  #carouselExampleAutoplaying button {
    height: 100%;
  }
  .ctaProdutos {
    flex-direction: column;
    text-align: center;
  }
  .ctaProdutos .iniciative {
    width: 100%;
    padding: 50px 0px;
  }
  .ctaProdutos .iniciative h1 {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 50px;
  }
  .ctaProdutos img {
    max-width: 95%;
  }
  .folha2 {
    top: -3%;
    left: 80%;
  }
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
  .footer-list{
    padding: 0;
  }
}
